<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><div align="center">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</div>

----

The ESC403 cluster comes preinstalled with [Catherine Devlin's `%sql`-magic for IPython][1]; this allows you to run SQL queries from the IPython notebook, and intermix them with Python code.

[1]: https://github.com/catherinedevlin/ipython-sql

Before we can use the `%sql` syntax, two steps must be taken:

* Load the IPython-SQL bridge code

In [1]:
%load_ext sql

* Connect to an actual database; this must be the first `%sql` statement (the `rmurri@/lustre` syntax is correct and means "connect to the PostGreSQL DB named `lustre` running on *this* host as user `rmurri`" -- of course, please replace `rmurri` with your user name!):

In [2]:
%sql postgresql://rmurri@/lustre

u'Connected: rmurri@lustre'

Now you can run 1-line SQL queries by prefixing them with `%sql`:

In [3]:
%sql select * from lustre limit 5;

5 rows affected.

[(u'us321', u'econ', 1363100458, 1363100620, 4, 342L, u'/scratch/econ/H2/preprocessing/long.txt'),
 (u'us321', u'econ', 1363100458, 1363100620, 4, 348L, u'/scratch/econ/H2/preprocessing/short.txt'),
 (u'us321', u'econ', 1363100458, 1363100620, 4, 696L, u'/scratch/econ/H2/preprocessing/slist.txt'),
 (u'us321', u'econ', 1363174233, 1363174233, 16, 16135L, u'/scratch/econ/H2/preprocessing/SNS_SSC_008_batch.mat'),
 (u'us321', u'econ', 1363174233, 1363174233, 16, 16142L, u'/scratch/econ/H2/preprocessing/SNS_SSC_009_batch.mat')]

It is also possible to run multi-line (or multiple) SQL queries by using the `%%sql` syntax instead.  Note that in this case the SQL instructions *must not* be on the same line as the `%%sql` magic marker:

In [4]:
%%sql
select count(*) from lustre;
select distinct count(usr) from lustre;
select distinct count(grp) from lustre;

1 rows affected.
1 rows affected.
1 rows affected.

[(30356776L,)]

*(What limitation of the IPython-SQL bridge does the above set of queries show? ;-))*